        #html {
            background-color: black;
        }
        .container {
            background-color: black;
        }
        p {
            font-size: 30;
            color: white;
            padding-top: 1%;
        }
        #title h1 {
            color: black;
        }
        .foot {
            padding: 2%;
            margin: 10% auto;
            background-color: yellow;
            text-align: center;
            font-size: 20px;
            border-bottom: 10% auto;
        }
        #title {
            background-color: yellow;
            background-size: 5px;
            font-family: monospace;
            font-size: 32;
            font-stretch: expanded;
            text-transform: uppercase color: gold;
            font-weight: 200;
            margin-bottom: 2px;
            margin-top: 2px;
            padding: 0.25%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
      
        
        .photos {
            height: 100%;
        }
        #photo {
            margin: 0 auto;
        }
        .photos img {
            margin: 40% auto;
            position: absolute;
        }
        .photos img:nth-of-type(1) {
            left: 50px;
            top: 50px;
        }
        .photos img:nth-of-type(2) {
            left: 150px;
            top: 100px;
        }
        .photos img:nth-of-type(3) {
            left: 250px;
            top: 50px;
        }
        .photos img:nth-of-type(4) {
            left: 350px;
            top: 150px;
        }
        .photos img:nth-of-type(5) {
            left: 450px;
            top: 50px;
        }
        .photos img:nth-of-type(1) {
            left: 50px;
            top: 50px;
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -o-transform: rotate(15deg);
            transform: rotate(5deg);
        }
        .photos img:nth-of-type(2) {
            left: 150px;
            top: 100px;
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
        .photos img:nth-of-type(3) {
            left: 250px;
            top: 50px;
            -webkit-transform: rotate(7deg);
            -moz-transform: rotate(7deg);
            -o-transform: rotate(7deg);
            transform: rotate(7deg);
        }
        .photos img:nth-of-type(4) {
            left: 350px;
            top: 150px;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            transform: rotate(-3deg);
        }
        .photos img:nth-of-type(5) {
            left: 450px;
            top: 50px;
            -webkit-transform: rotate(2deg);
            -moz-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            transform: rotate(2deg);
        }
        .photos img:hover {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            z-index: 10;
        }
        .photos img {
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
        .photos img {
            /* -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;*/
            transition: all 0.5s ease-out;
            padding: 10px 10px 30px 10px;
            background: white;
            border: solid 1px black;
        }
        /*======================navigation========================*/
        
        @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
        body {
            font: 400 16px 'Montserrat', sans-serf;
        }
        /**********/
        /* LAYOUT */
        /**********/
        
        #header {
            position: relative;
        }
        #header-content {
            width: 100%;
        }
        #header-logo {
            padding: 1em;
            background: #111111;
        }
        #header-nav {
            padding: 1em;
            background: #555555;
        }
        #header-nav-toggle {
            color: #fff;
            font-size: 2em;
            position: absolute;
            top: .5em;
            right: .5em;
            z-index: 1;
            cursor: pointer;
        }
        /***********/
        /* MODULES */
        /***********/
        /* Measure */
        
        .measure {
            width: 90%;
            max-width: 800px;
            margin: 0 auto;
        }
        /* Logo */
        
        .logo {
            color: #fff;
            font-weight: 700;
            margin: 0;
        }
        /* Nav */
        
        .nav {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .nav li {
            width: 100%;
            margin: 0 0 1em 0;
            display: block;
        }
        .nav li:last-child {
            margin: 0;
        }
        .nav a {
            color: #fff;
            text-decoration: none;
        }
        /*************/
        /* MODIFIERS */
        /*************/
        
        .is-hidden {
            display: none;
        }
        .is-visible {
            display: block;
        }
        /*****************/
        /* MEDIA QUERIES */
        /*****************/
        
        @media screen and (min-width: 600px) {
            /* Header */
            #header {
                padding: 1em;
                background: #111111;
            }
            #header-content {
                max-width: 800px;
                margin: 0 auto;
                overflow: hidden;
            }
            #header-logo {
                padding: 0;
                background: none;
                float: left;
            }
            #header-nav {
                padding: .5em;
                background: none;
                float: right;
                display: block;
            }
            #header-nav-toggle {
                display: none;
            }
            /* Nav */
            .nav li {
                width: auto;
                margin: 0 .5em;
                display: inline-block;
            }
        }
