#title {
    background-color: lightgoldenrodyellow;
    background-size: 5px;
    font-family: monospace;
    font-size: 32;
    font-stretch: expanded;
    text-transform: uppercase
    color: gold;
    font-weight: 200;
    margin-bottom:2px;
    
}


#top {
    background-color: lightgoldenrodyellow;
    background-size: 5px;
    font-family: monospace;
    font-size: 32;
    text-transform: uppercase
    color: gold;
    font-weight: 200;
       
}

